@font-face {
  font-family: 'ul_pictograms';
  src: url('../font/ul_pictograms.eot?70467969');
  src: url('../font/ul_pictograms.eot?70467969#iefix') format('embedded-opentype'),
       url('../font/ul_pictograms.woff?70467969') format('woff'),
       url('../font/ul_pictograms.ttf?70467969') format('truetype'),
       url('../font/ul_pictograms.svg?70467969#ul_pictograms') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'ul_pictograms';
    src: url('../font/ul_pictograms.svg?70467969#ul_pictograms') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "ul_pictograms";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-music:before { content: '\e800'; } /* '' */
.icon-glass:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-mail-alt:before { content: '\e804'; } /* '' */
.icon-heart-empty:before { content: '\e805'; } /* '' */
.icon-heart:before { content: '\e806'; } /* '' */
.icon-star:before { content: '\e807'; } /* '' */
.icon-star-empty:before { content: '\e808'; } /* '' */
.icon-user:before { content: '\e809'; } /* '' */
.icon-users:before { content: '\e80a'; } /* '' */
.icon-child:before { content: '\e80b'; } /* '' */
.icon-picture:before { content: '\e80c'; } /* '' */
.icon-videocam:before { content: '\e80d'; } /* '' */
.icon-video:before { content: '\e80e'; } /* '' */
.icon-camera-alt:before { content: '\e80f'; } /* '' */
.icon-camera:before { content: '\e810'; } /* '' */
.icon-ok-circled:before { content: '\e811'; } /* '' */
.icon-ok-circled2:before { content: '\e812'; } /* '' */
.icon-cancel-circled:before { content: '\e813'; } /* '' */
.icon-cancel-circled2:before { content: '\e814'; } /* '' */
.icon-plus:before { content: '\e815'; } /* '' */
.icon-plus-circled:before { content: '\e816'; } /* '' */
.icon-minus:before { content: '\e817'; } /* '' */
.icon-cancel:before { content: '\e818'; } /* '' */
.icon-ok:before { content: '\e819'; } /* '' */
.icon-help-circled:before { content: '\e81a'; } /* '' */
.icon-info-circled:before { content: '\e81b'; } /* '' */
.icon-home:before { content: '\e81c'; } /* '' */
.icon-lock:before { content: '\e81d'; } /* '' */
.icon-lock-open:before { content: '\e81e'; } /* '' */
.icon-pin:before { content: '\e81f'; } /* '' */
.icon-eye:before { content: '\e820'; } /* '' */
.icon-eye-off:before { content: '\e821'; } /* '' */
.icon-tags:before { content: '\e822'; } /* '' */
.icon-tag:before { content: '\e823'; } /* '' */
.icon-flag-empty:before { content: '\e824'; } /* '' */
.icon-flag:before { content: '\e825'; } /* '' */
.icon-bookmark:before { content: '\e826'; } /* '' */
.icon-bookmark-empty:before { content: '\e827'; } /* '' */
.icon-flag-checkered:before { content: '\e828'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e829'; } /* '' */
.icon-thumbs-down-alt:before { content: '\e82a'; } /* '' */
.icon-thumbs-down:before { content: '\e82b'; } /* '' */
.icon-thumbs-up:before { content: '\e82c'; } /* '' */
.icon-trash:before { content: '\e82d'; } /* '' */
.icon-trash-empty:before { content: '\e82e'; } /* '' */
.icon-pencil-squared:before { content: '\e82f'; } /* '' */
.icon-edit:before { content: '\e830'; } /* '' */
.icon-pencil:before { content: '\e831'; } /* '' */
.icon-attention-circled:before { content: '\e832'; } /* '' */
.icon-chat:before { content: '\e833'; } /* '' */
.icon-comment:before { content: '\e834'; } /* '' */
.icon-keyboard:before { content: '\e835'; } /* '' */
.icon-print:before { content: '\e836'; } /* '' */
.icon-gamepad:before { content: '\e837'; } /* '' */
.icon-download-cloud:before { content: '\e838'; } /* '' */
.icon-upload-cloud:before { content: '\e839'; } /* '' */
.icon-reply:before { content: '\e83a'; } /* '' */
.icon-reply-all:before { content: '\e83b'; } /* '' */
.icon-forward:before { content: '\e83c'; } /* '' */
.icon-quote-left:before { content: '\e83d'; } /* '' */
.icon-quote-right:before { content: '\e83e'; } /* '' */
.icon-export:before { content: '\e83f'; } /* '' */
.icon-share:before { content: '\e840'; } /* '' */
.icon-retweet:before { content: '\e841'; } /* '' */
.icon-bell:before { content: '\e842'; } /* '' */
.icon-bell-alt:before { content: '\e843'; } /* '' */
.icon-doc-text:before { content: '\e844'; } /* '' */
.icon-doc:before { content: '\e845'; } /* '' */
.icon-box:before { content: '\e846'; } /* '' */
.icon-cog:before { content: '\e847'; } /* '' */
.icon-wrench:before { content: '\e848'; } /* '' */
.icon-sliders:before { content: '\e849'; } /* '' */
.icon-basket:before { content: '\e84a'; } /* '' */
.icon-calendar:before { content: '\e84b'; } /* '' */
.icon-login:before { content: '\e84c'; } /* '' */
.icon-logout:before { content: '\e84d'; } /* '' */
.icon-clock:before { content: '\e84e'; } /* '' */
.icon-block:before { content: '\e84f'; } /* '' */
.icon-zoom-in:before { content: '\e850'; } /* '' */
.icon-zoom-out:before { content: '\e851'; } /* '' */
.icon-desktop:before { content: '\e852'; } /* '' */
.icon-laptop:before { content: '\e853'; } /* '' */
.icon-tablet:before { content: '\e854'; } /* '' */
.icon-mobile:before { content: '\e855'; } /* '' */
.icon-award:before { content: '\e856'; } /* '' */
.icon-globe:before { content: '\e857'; } /* '' */
.icon-flight:before { content: '\e858'; } /* '' */
.icon-paper-plane:before { content: '\e859'; } /* '' */
.icon-down-big:before { content: '\e85a'; } /* '' */
.icon-left-big:before { content: '\e85b'; } /* '' */
.icon-right-big:before { content: '\e85c'; } /* '' */
.icon-up-big:before { content: '\e85d'; } /* '' */
.icon-paper-plane-empty:before { content: '\e85e'; } /* '' */
.icon-table:before { content: '\e85f'; } /* '' */
.icon-briefcase:before { content: '\e860'; } /* '' */
.icon-qrcode:before { content: '\e861'; } /* '' */
.icon-barcode:before { content: '\e862'; } /* '' */
.icon-book:before { content: '\e863'; } /* '' */
.icon-toggle-on:before { content: '\e864'; } /* '' */
.icon-toggle-off:before { content: '\e865'; } /* '' */
.icon-check:before { content: '\e866'; } /* '' */
.icon-check-empty:before { content: '\e867'; } /* '' */
.icon-gift:before { content: '\e868'; } /* '' */
.icon-magnet:before { content: '\e869'; } /* '' */
.icon-chart-bar:before { content: '\e86a'; } /* '' */
.icon-chart-area:before { content: '\e86b'; } /* '' */
.icon-chart-pie:before { content: '\e86c'; } /* '' */
.icon-chart-line:before { content: '\e86d'; } /* '' */
.icon-credit-card:before { content: '\e86e'; } /* '' */
.icon-ticket:before { content: '\e86f'; } /* '' */
.icon-megaphone:before { content: '\e870'; } /* '' */
.icon-key:before { content: '\e871'; } /* '' */
.icon-certificate:before { content: '\e872'; } /* '' */
.icon-magic:before { content: '\e873'; } /* '' */
.icon-cab:before { content: '\e874'; } /* '' */
.icon-money:before { content: '\e875'; } /* '' */
.icon-pound:before { content: '\e876'; } /* '' */
.icon-euro:before { content: '\e877'; } /* '' */
.icon-dollar:before { content: '\e878'; } /* '' */
.icon-rupee:before { content: '\e879'; } /* '' */
.icon-yen:before { content: '\e87a'; } /* '' */
.icon-rouble:before { content: '\e87b'; } /* '' */
.icon-shekel:before { content: '\e87c'; } /* '' */
.icon-try:before { content: '\e87d'; } /* '' */
.icon-won:before { content: '\e87e'; } /* '' */
.icon-gauge:before { content: '\e87f'; } /* '' */
.icon-bitcoin:before { content: '\e880'; } /* '' */
.icon-hammer:before { content: '\e881'; } /* '' */
.icon-coffee:before { content: '\e882'; } /* '' */
.icon-food:before { content: '\e883'; } /* '' */
.icon-beer:before { content: '\e884'; } /* '' */
.icon-bank:before { content: '\e885'; } /* '' */
.icon-smile:before { content: '\e886'; } /* '' */
.icon-frown:before { content: '\e887'; } /* '' */
.icon-meh:before { content: '\e888'; } /* '' */
.icon-anchor:before { content: '\e889'; } /* '' */
.icon-puzzle:before { content: '\e88a'; } /* '' */
.icon-newspaper:before { content: '\e88b'; } /* '' */
.icon-calc:before { content: '\e88c'; } /* '' */
.icon-copyright:before { content: '\e88d'; } /* '' */
.icon-cc-visa:before { content: '\e88e'; } /* '' */
.icon-cc-mastercard:before { content: '\e88f'; } /* '' */
.icon-cc-discover:before { content: '\e890'; } /* '' */
.icon-cc-amex:before { content: '\e891'; } /* '' */
.icon-cc-paypal:before { content: '\e892'; } /* '' */
.icon-cc-stripe:before { content: '\e893'; } /* '' */
.icon-hourglass:before { content: '\e894'; } /* '' */
.icon-phone:before { content: '\e895'; } /* '' */
.icon-vcard:before { content: '\e896'; } /* '' */